@use "../../css/variables" as *;

.cookie-banner {
  background-color: $primary-300;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: calc(100% - 60px);
  }
  
  .cookie-banner-text {
    color: $neutral-700;
    font-size: $header-6;
  }
}
