@use "../../css/variables" as *;

.all-you-can-eat-policy {
  background-color: $neutral-100;

  background-image: url("../../assets/backgrounds/bar.png");
  background-size: cover;
  background-position-y: 60%;
  background-repeat: no-repeat;
  height: fit-content;
  
  .page-title {
    color: $neutral-100;
  }
  
  .all-you-can-eat-policy-explanation {
    color: $neutral-100;
    p {
      font-size: $header-5;
    }
  }
}
