@use "../../css/variables" as *;

.home-page {
  .hero {
    background-image: url("../../../../public/assets/images/backgrounds/inside-restaurant.png");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    min-height: 30vh;
    height: fit-content;

    .hero-text {
      color: $neutral-100;
      font-size: $header-1;
    }

    .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      gap: 40px;
    }
  }

  .food-delivery {
    background-color: $primary-100;
    grid-template-columns: 1fr 2fr;

    .food-delivery-text {
      color: $primary-900;
    }

    .button-wrapper {
      .button {
        width: 100%;
      }
      svg {
        height: 50px;
        width: 50px;
        fill: $primary-500;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  .bar-promo {
    background-image: url("../../../../public/assets/images/backgrounds/bar.png");
    background-size: cover;
    background-position-y: 60%;
    background-repeat: no-repeat;
    height: fit-content;
    grid-template-columns: 1fr 2fr;

    .bar-promo-text {
      color: $neutral-100;
    }

    .alcohol-and-appetizer-image-wrapper {
      img {
        width: 33%;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 40px;

      .alcohol-and-appetizer-image-wrapper {
        width: 100%;
        flex-wrap: wrap;

        img {
          width: 50%;
        }
      }
    }
  }

  .our-reviews {
    background-color: $primary-100;

    .reviews-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
    
    @media screen and (max-width: 768px) {
      .reviews-wrapper {
        grid-template-columns: 1fr;
      }
    }
  }

  .our-menu {
    background-color: $neutral-100;

    .menu-wrapper {
      flex-direction: row;
    }
    
    .menu-items {
      width: 50%;
      grid-template-columns: 1fr 1fr;
    }
    
    .menu-rows {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      .menu-items, .menu-rows {
        width: 100%;
      }
      
      .menu-wrapper {
        flex-direction: column;
      }
    }
  }
}
