@use "../../css/variables" as *;
@use "../../css/animations" as *;

.home-page {
  .decoration-image-container {
    width: 12rem;
    position: absolute;
    top: 0;
    left: -20px;
    animation-name: drop-in;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 768px) {
    .decoration-image-container {
      width: 6rem;
    }
  }

  .hero {
    position: relative;
    overflow: hidden;
    min-height: 30vh;
    height: fit-content;
    color: $neutral-100;
    background-color: $primary-900;

    .hero-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transform: scale(1);
      transition:
        opacity 1s ease-in-out,
        transform 5s ease-in-out;
      z-index: 0;
      -webkit-transition:
        opacity 1s ease-in-out,
        transform 5s ease-in-out;
      -moz-transition:
        opacity 1s ease-in-out,
        transform 5s ease-in-out;
      -ms-transition:
        opacity 1s ease-in-out,
        transform 5s ease-in-out;
      -o-transition:
        opacity 1s ease-in-out,
        transform 5s ease-in-out;
    }

    .hero-background.active {
      opacity: 1;
      transform: scale(1.1);
      z-index: 0;
    }

    .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .hero-content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      gap: 40px;
      animation-name: fade-in;
      animation-timing-function: ease-in;
      animation-duration: 1s;
    }

    .hero-text {
      font-size: $header-1;
    }
  }

  .food-delivery {
    background-color: $primary-100;
    grid-template-columns: 1fr 2fr;
    position: relative;

    .decoration-image-container:first-of-type {
      top: 120px;
      animation-delay: 0.5s;
    }

    .decoration-image-container:nth-of-type(2) {
      left: auto;
      right: -40px;
      top: -30px;
      animation-delay: 1s;
    }

    .food-delivery-text {
      color: $primary-900;
    }

    .button-wrapper {
      .button {
        width: 100%;
      }
      svg {
        height: 50px;
        width: 50px;
        fill: $primary-500;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 40px;

      .decoration-image-container:first-of-type {
        top: 535px;
        animation-delay: 0.5s;
      }

      .decoration-image-container:nth-of-type(2) {
        left: auto;
        right: -10px;
        top: -5px;
        animation-delay: 1s;
      }
    }
  }

  .bar-promo {
    background-image: url("../../assets/backgrounds/bar.png");
    background-size: cover;
    background-position-y: 60%;
    background-repeat: no-repeat;
    height: fit-content;
    grid-template-columns: 1fr 2fr;

    .bar-promo-text {
      color: $neutral-100;
    }

    .alcohol-and-appetizer-image-wrapper {
      img {
        width: 33%;
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 40px;

      .alcohol-and-appetizer-image-wrapper {
        width: 100%;
        flex-wrap: wrap;

        img {
          width: 50%;
        }
      }
    }
  }

  .our-reviews {
    background-color: $primary-100;

    .decoration-image-container:first-of-type {
      top: 0%;
    }

    .decoration-image-container:nth-of-type(2) {
      left: auto;
      right: -40px;
      top: 40%
    }

    .decoration-image-container:nth-of-type(3) {
      top: 80%;
    }

    .reviews-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }

    @media screen and (max-width: 768px) {
      .reviews-wrapper {
        grid-template-columns: 1fr;
      }

      .customer-review:nth-of-type(1),
      .customer-review:nth-of-type(2),
      .customer-review:nth-of-type(3) {
        display: none;
      }

      .decoration-image-container:first-of-type {
        top: 170px;
      }

      .decoration-image-container:nth-of-type(2) {
        left: auto;
        right: -40px;
        top: 700px;
      }

      .decoration-image-container:nth-of-type(3) {
        top: 1200px;
      }
    }
  }

  .our-menu {
    background-color: $neutral-100;

    .page-title {
      color: $primary-900;
    }

    .decoration-image-container:first-of-type {
      top: 50px;
    }

    .decoration-image-container:nth-of-type(2) {
      left: auto;
      right: -40px;
      top: 500px;
    }

    .decoration-image-container:nth-of-type(3) {
      top: 1150px;
      right: -40px;
      transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -o-transform: scaleX(-1);
    }

    .menu-wrapper {
      flex-direction: row;
    }

    .menu-items {
      width: 50%;
      grid-template-columns: 1fr 1fr;
    }

    .menu-rows {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      .menu-items,
      .menu-rows {
        width: 100%;
      }

      .menu-wrapper {
        flex-direction: column;
      }

      .decoration-image-container:first-of-type {
        left: auto;
        right: -40px;
        top: 1200px;
      }

      .decoration-image-container:nth-of-type(2) {
        top: 170px;
        left: 10px;
      }

      .decoration-image-container:nth-of-type(3) {
        top: 1990px;
      }
    }
  }
}
