@import "../../css/variables";

.customer-review {
  border: 1.5px solid $primary-500;
  border-radius: $border-radius;
  background: $neutral-800;
  flex-shrink: 0;
  position: relative;
  align-self: stretch;
  justify-content: stretch;

  img {
    width: 44px;
    border-radius: 30px;
    border: 1px solid $primary-500;
  }

  .author-name-and-rating-info-container {
    span {
      padding-bottom: 10px;
    }
  }

  .review-details-container {
    display: flex;
    align-items: center;

    span {
      font-size: $header-6;
      color: $primary-500;
      margin-left: 10px;
    }
  }

  .rating-number-and-star-container {
    display: flex;
    margin-left: 6px;
    color: $primary-300;
    padding-top: 10px;
    margin-left: 10px;
  }

  .review-body-container {
    color: $primary-200;
  }
}
