@import "../../../../css/variables";

.accordion {
  .accordion-item {
    color: $primary-300;
    border-bottom: 2px solid $primary-300;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    
    &:hover,
    &.active {
      background-color: $primary-600;
      color: $neutral-200;
      border-color: $neutral-200;
    }

    .accordion-item-header {
      cursor: pointer;
    }

    .accordion-item-body {
      overflow: hidden;
      transition: max-height 0.3s ease;
    }

    .accordion-item-content {
      padding: 10px 20px;
    }
  }
}
