@import "variables";

/* 
  General Styling
*/

body {
  font-family: "Lato", Times, sans-serif !important;
  margin: 0px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}
// Font Sizes
::-webkit-scrollbar-track {
  background: $neutral-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-700;
}

::-moz-selection {
  background: $primary-500;
  color: $neutral-100;
}

::selection {
  background: $primary-500;
  color: $neutral-100;
}

.page-title {
  text-align: center;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex !important;
}

.full-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.display-grid {
  display: grid;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-left {
  justify-content: left;
}

.justify-content-right {
  justify-content: right;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-top {
  align-items: start;
}

.align-items-bottom {
  align-items: end;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-left-and-right {
  margin-left: 11.5%;
  margin-right: 11.5%;
}

.padding-left-and-right {
  padding-left: 11.5%;
  padding-right: 11.5%;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-20 {
  padding-right: 20px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-left-40 {
  padding-left: 40px;
}

.padding-right-40 {
  padding-right: 40px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-left-80 {
  padding-left: 80px;
}

.padding-right-80 {
  padding-right: 80px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-left-80 {
  margin-left: 80px;
}

.margin-right-80 {
  margin-right: 80px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.button-wrapper {
  @extend .full-flex;
  @extend .gap-20;

  @media (max-width: 768px) {
    flex-wrap: wrap;

    button {
      width: 100%;
      height: 100%;
    }
  }
}

.bold-text {
  font-weight: bold;
}

h1 {
  font-size: $header-1;
}

h2 {
  font-size: $header-2;
}

h3 {
  font-size: $header-3;
}

h4 {
  font-size: $header-4;
}

h5 {
  font-size: $header-5;
}

h6 {
  font-size: $header-6;
}

p {
  font-size: $paragraph;
  line-height: 1.6;
}

small {
  font-size: $small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.page-title {
  @extend .full-flex;
  @extend .bold-text;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.dark-image-overlay-100 {
  background-color: $transparent-black-100 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-200 {
  background-color: $transparent-black-200 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-300 {
  background-color: $transparent-black-300 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-400 {
  background-color: $transparent-black-400 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-500 {
  background-color: $transparent-black-500 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-600 {
  background-color: $transparent-black-600 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-700 {
  background-color: $transparent-black-700 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-800 {
  background-color: $transparent-black-800 !important;
  background-blend-mode: multiply;
}

.dark-image-overlay-900 {
  background-color: $transparent-black-900 !important;
  background-blend-mode: multiply;
}
